<h1> Book Your Movie Ticket </h1>

<% if can? :create, Movie %>
  <%= link_to 'New Movie', new_movie_path %>
<% end %>

<% @movies.each do |movie| %>
  <div class="movie">
    <% if movie.poster.attached? %>
      <%= image_tag movie.poster, style: "width: 300px" %>
    <% else %>
      <p>No poster available</p>
    <% end %>
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <p><%= link_to movie.genre, movie_path(movie) %></p>
    <% if can? :update, movie %>
      <%= link_to "Edit", edit_movie_path(movie) %>
    <% end %>
    <% if can? :destroy, movie %>
      <%= link_to "Delete", movie_path(movie), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
