<h2>Movie Name: <%= @movie.title %></h2>
<p>Genre: <%= @movie.genre %></p>

<h3>Upcoming Showtimes</h3>
<% @showtimes.each do |showtime| %>
  <div class="showtime">
    <p>
      <%= showtime.start_time.strftime("%B %d, %Y at %I:%M %p") %>
      (<%= pluralize(showtime.seats_available, 'seat') %> available)
      <%= link_to "Book", new_booking_path(showtime_id: showtime.id) %>
    </p>
  </div>
<% end %>

<% if can? :update, @movie %>
  <%= link_to "Edit Movie", edit_movie_path(@movie) %>
<% end %>
