<h1>All Upcoming Showtimes</h1>

<% if can? :create, Showtime %>
  <%= link_to 'New Showtime', new_showtime_path %>
<% end %>

<% @showtimes.each do |showtime| %>
  <div class="showtime">
    <% if showtime.movie.poster.attached? %>
      <%= image_tag showtime.movie.poster, style: "width: 300px" %>
    <% else %>
      <p>No poster available</p>
    <% end %>
    <h2><%= showtime.movie.title %></h2>
    <p>
      <%= showtime.start_time.strftime("%B %d, %Y at %I:%M %p") %>
      (<%= pluralize(showtime.seats_available, 'seat') %> available)
      <%= link_to "Book", new_booking_path(showtime_id: showtime.id) %>
    </p>
    <% if can? :update, showtime %>
      <%= link_to "Edit", edit_showtime_path(showtime) %>
    <% end %>
    <% if can? :destroy, showtime %>
      <%= link_to "Delete", showtime_path(showtime), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
